<!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Ratsu</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <div class="entry">
            <h1><u>Ratsu Tulospalvelu</u></h1>
        </div>
        
            <h2 id="menu">Lisää/Poista Ratsukko</h2>
        
        <div class="entry">
            <br/><br/>
            <input type="text" placeholder="Ratsukisa 22.06.2015"/>
            <input type="text" placeholder="Lähtö 2"/>
            <br/><br/>
            <form action="addrider.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Ratsastaja"> <!-- Nimen muokkaus?? -->
            </form>
            <input type="text" placeholder="Ratsastan Nimi"/>
            <br/><br/>
            
            <form action="addrider.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Hevonen"> <!-- Nimen muokkaus?? -->
            </form>
            <input type="text" placeholder="Hevosen Nimi"/>
            <br/><br/>
            
            <form action="addrider.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Lähtönumero">
            </form>
            <input type="text" placeholder="Numerovalikko"/> <!-- Vain vapaat numerot esille, lähtönumerojen muokkaus?? -->
            <br/><br/>
            
            <form action="addrider.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Lisää"> <!-- Duplikaattien tarkistukset tänne -->
            </form>
            <br/>
            <form action="addrider.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Poista ratsukko"> <!-- Oletko varma kysely tänne -->
            </form>
            <input type="text" placeholder="Alasvetovalikko"/> 
            
            <br/><br/>
            <form action="addrace.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Valmis">
            </form>
            <br/><br/>
            
        </div> 
        
        <br/><br/>
        
        <div class="entry">
            <br/><br/>
            <input type="text" placeholder="Muokattu Lähtölista tänne"/>
            <br/><br/>
        </div> 
            

        
        <div id="footer">
            <form action="index.html">
                <input class="left" type="submit" value="Palaa pääsivulle">
            </form>
            Copyright: Jarmo Leskinen 2015
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>