<!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Ratsu</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <div class="entry">
            <h1><u>Ratsu Tulospalvelu</u></h1>
        </div>
        
            <h2 id="menu">Lisää/Valitse kilpailu</h2>
        
        <div class="entry">
            <br/><br/>
            <form action="addraceplace.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Kilpailupaikka">
            </form>
            <input type="text" placeholder="Lisää/Valitse valikko tänne"/>
            <br/><br/>
            
            <form action="addraceplace.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Kilpailupäivä">
            </form>
            <input type="text" placeholder="Lisää/Valitse valikko tänne"/>
            <br/><br/>
            
            <form action="addrace.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Valmis">
            </form>
            <br/><br/>
            
        </div> 
        
        <div id="footer">
            <form action="index.html">
                <input class="left" type="submit" value="Palaa pääsivulle">
            </form>
            Copyright: Jarmo Leskinen 2015
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>