<!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Pehtoori</title>
        <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="../css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <br/>
        <div class="entry">
            <h1><u><a href="../index.html">Pehtoori</a></u></h1>
        </div>
        <br/>
        
        <div class="omaentry">
            <h2 id="menu"><u>Pehtoorin Ylläpito</u></h2>
        </div>
        <br/>
        
        <!-- Notes, functionality to be added, bugs, optimisation ideas, etc.:
            - Omat alasivut joka muokkauslinkkiin.
            - Muokkausohjeet.
            - Varmuuskopiointi: ohjeet ja asetukset tänne?
            - Logout.
            - Valikoiden enabled/disabled valikot tänne?
            - 
            - 
            - 
        -->
        
        <div class="omaentry">
            <br/><br/>
            <form action="admin.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Hevoset"> <!-- Horse name here-->
            </form>
            <input type="text" placeholder="Muokkaa hevosten tietoja"/>
            
            <br/><br/>
            <form action="admin.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Ruokinta">
            </form> 
            <input type="text" placeholder="Muokkaa ruokintaohjeita"/>
            <br/><br/>
            
            <form action="admin.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Terveys">
            </form>  
            <input type="text" placeholder="Muokkaa terveystietoja"/>
            <br/><br/>
            
            <form action="admin.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Hevosten Liikuntakalenteri">
            </form>  
            <input type="text" placeholder="Muokkaa hevosten liikuntakalenteria"/>
            <br/><br/>
            
            <form action="admin.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Hevosten Tarhauskalenteri">
            </form>  
            <input type="text" placeholder="Muokkaa hevosten tarhauskalenteria"/>
            <br/><br/>
            
            <form action="admin.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Tallin Viikkokalenteri">
            </form>  
            <input type="text" placeholder="Muokkaa tallin viikkokalenteria"/>
            <br/><br/>
            
            <form action="admin.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Työntekijän Tuntikalenteri">
            </form>  
            <input type="text" placeholder="Muokkaa työntekijän tuntikalenteria"/>
            <br/><br/>
            
            <form action="admin.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Tallin Puutelista">
            </form>  
            <input type="text" placeholder="Muokkaa tallin puutelistaa"/>
            <br/><br/>
            
            <form action="admin.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Tallin Yhteystiedot">
            </form>  
            <input type="text" placeholder="Muokkaa tallin yhteystietoja"/>
            <br/><br/>
            
            <form action="admin.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Pehtoorin Asetukset">
            </form>  
            <input type="text" placeholder="Muokkaa käyttäjän asetuksia"/>
            <br/><br/>
            
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>