<!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Tallirenki</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <br/>
        <div class="entry">
            <h1><u><a href="../index.html">Tallirenki</a></u></h1>
        </div>
        <br/>
        
        <div class="subentry">
            <h2 id="menu"><u>Tallin Yhteystiedot</u></h2>
        </div>
        <br/><br/>
        
        <div class="entry">
            <br/>
            <form action="contacts.html">
                <input class="left" type="submit" value="Työntekijät">
                <input type="text" placeholder="Työntekijöiden nimivalikko"/><br/>
            </form>
            <br/>
            
            <form action="contacts.html">
                <input class="left" type="submit" value="Yhteyshenkilöt">
                <input type="text" placeholder="Kengittäjä, Eläinlääkäri..."/><br/>
            </form>
            <br/><br/>
            
            <form action="contacts.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Puhelin">
            </form> 
            <input type="text" placeholder="Puhelin"/>
            <br/><br/>
            
            <form action="contacts.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Osoite">
            </form>  
            <input type="text" placeholder="osoite"/>
            <br/><br/>
            
            <form action="contacts.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Sähköposti">
            </form>  
            <input type="text" placeholder="sähköposti"/>
            <br/><br/>
            
            <form action="contacts.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Muut tiedot">
            </form>  
            <input type="text" placeholder="Muut tiedot tähän"/>
            <br/><br/>
            
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>
