<!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Tallirenki</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <br/>
        <div class="entry">
            <h1><u><a href="../index.html">Tallirenki</a></u></h1>
        </div>
        <br/>
        
        <div class="subentry">
            <h2 id="menu"><u>Terveys</u></h2>
        </div>
        <br/><br/>
        
        <div class="entry">
            <br/>
            <form action="health.html">
                <input class="left" type="submit" value="Hevonen">
                <input type="text" placeholder="Hevosten nimivalikko"/><br/>
            </form>
            <br/><br/>
            
            <form action="health.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Rokotukset">
            </form> 
            <input type="text" placeholder="Rokotustiedot tähän"/>
            <br/><br/>
            
            <form action="health.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Madotus">
            </form>  
            <input type="text" placeholder="Madotustiedot tähän"/>
            <br/><br/>
            
            <form action="health.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Hieronta">
            </form>  
            <input type="text" placeholder="Hierontatiedot tähän"/>
            <br/><br/>
            
            <form action="health.html"> <!-- to be changed to right address-->
                <input class="center" type="submit" value="Yleistä">
            </form>  
            <input type="text" placeholder="Yleiset terveystiedot tähän"/>
            <br/><br/>
            
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>
