<!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Pehtoori</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <br/>
        <div class="entry">
            <h1><u><a href="../index.html">Pehtoori</a></u></h1>
        </div>
        <br/>
        
        <div class="subentry">
            <h2 id="menu"><u>Hevoset</u></h2>
        </div>
        <br/>
        
        <div class="subentry">
           <br/> 
            <div style="text-align:center">
                <form action="horse1.html">
                    <input class="center" type="submit" value="Heppa_1">
                </form>
                <input type="text" placeholder="Hevosen kuva tähän"/>

                <br/><br/>
                <form action="horse1.html">
                    <input class="center" type="submit" value="Heppa_2">
                </form>
                <input type="text" placeholder="Hevosen kuva tähän"/>

                <br/><br/>
                <form action="horse1.html">
                    <input class="center" type="submit" value="Heppa_3">
                </form>
                <input type="text" placeholder="Hevosen kuva tähän"/>
                <br/><br/>

            </div> 
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>