!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Heta</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <div class="entry">
            <h1><u><u><a href="../index.html">Hevostalliohjelma</a></u></u></h1>
        </div>
        
            <h2 id="menu">Hevoset</h2>
        
        <div style="text-align:center">
            <form action="horse1.html">
                <input class="center" type="submit" value="Heppa_1">
            </form>
            <input type="text" placeholder="Hevosen kuva tähän"/>
            
            <br/><br/>
            <form action="horse2.html">
                <input class="center" type="submit" value="Heppa_2">
            </form>
            <input type="text" placeholder="Hevosen kuva tähän"/>
            
            <br/><br/>
            <form action="horse3.html">
                <input class="center" type="submit" value="Heppa_3">
            </form>
            <input type="text" placeholder="Hevosen kuva tähän"/>
            
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>