<!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Ratsu</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <div class="entry">
            <h1><u><a href="../index.html">Hevostalliohjelma</a></a></u></h1>
        </div>
        
            <h2 id="menu">Hevosten Liikuntakalenteri</h2>
        
        <div style="text-align:left">
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Hevonen">
                <input type="text" placeholder="Hevosten nimivalikko"/><br/>
            </form>
          
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Viikko">
                <input type="text" placeholder="Viikkonumero"/><br/>
            </form>
            
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Aikaväli">
                <input type="text" placeholder="Aloituspäivä"/> - 
                <input type="text" placeholder="Lopetuspäivä"/><br/><br/>
            </form>
            <br/>
            
            
            <form action="horsecalendar.html">
                <input class="center" type="submit" value="Viikkotunnit yhteensä">
            </form>
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Este">
                <input type="text" placeholder="Estetunnit tähän"/><br/>
                <input class="left" type="submit" value="Koulu">
                <input type="text" placeholder="Koulutunnit tähän"/><br/>
                <input class="left" type="submit" value="Maasto">
                <input type="text" placeholder="Maastotunnit tähän"/><br/>
                <input class="left" type="submit" value="Puomi">
                <input type="text" placeholder="Puomitunnit tähän"/><br/>
            </form>
                <br/>
            
            <form action="horsecalendar.html">
                <input class="center" type="submit" value="Maanantai">
            </form>
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Este">
                <input type="text" placeholder="Estetunnit tähän"/><br/>
                <input class="left" type="submit" value="Koulu">
                <input type="text" placeholder="Koulutunnit tähän"/><br/>
                <input class="left" type="submit" value="Maasto">
                <input type="text" placeholder="Maastotunnit tähän"/><br/>
                <input class="left" type="submit" value="Puomi">
                <input type="text" placeholder="Puomitunnit tähän"/><br/>
            </form>
                <br/>
            
            <form action="horsecalendar.html">
                <input class="center" type="submit" value="Tiistai">
            </form>
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Este">
                <input type="text" placeholder="Estetunnit tähän"/><br/>
                <input class="left" type="submit" value="Koulu">
                <input type="text" placeholder="Koulutunnit tähän"/><br/>
                <input class="left" type="submit" value="Maasto">
                <input type="text" placeholder="Maastotunnit tähän"/><br/>
                <input class="left" type="submit" value="Puomi">
                <input type="text" placeholder="Puomitunnit tähän"/><br/>
            </form>
                <br/>
            
            <form action="horsecalendar.html">
                <input class="center" type="submit" value="Keskiviikko">
            </form>
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Este">
                <input type="text" placeholder="Estetunnit tähän"/><br/>
                <input class="left" type="submit" value="Koulu">
                <input type="text" placeholder="Koulutunnit tähän"/><br/>
                <input class="left" type="submit" value="Maasto">
                <input type="text" placeholder="Maastotunnit tähän"/><br/>
                <input class="left" type="submit" value="Puomi">
                <input type="text" placeholder="Puomitunnit tähän"/><br/>
            </form>
                <br/>
            
            <form action="horsecalendar.html">
                <input class="center" type="submit" value="Tostai">
            </form>
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Este">
                <input type="text" placeholder="Estetunnit tähän"/><br/>
                <input class="left" type="submit" value="Koulu">
                <input type="text" placeholder="Koulutunnit tähän"/><br/>
                <input class="left" type="submit" value="Maasto">
                <input type="text" placeholder="Maastotunnit tähän"/><br/>
                <input class="left" type="submit" value="Puomi">
                <input type="text" placeholder="Puomitunnit tähän"/><br/>
            </form>
                <br/>
            
            <form action="horsecalendar.html">
                <input class="center" type="submit" value="Perjantai">
            </form>
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Este">
                <input type="text" placeholder="Estetunnit tähän"/><br/>
                <input class="left" type="submit" value="Koulu">
                <input type="text" placeholder="Koulutunnit tähän"/><br/>
                <input class="left" type="submit" value="Maasto">
                <input type="text" placeholder="Maastotunnit tähän"/><br/>
                <input class="left" type="submit" value="Puomi">
                <input type="text" placeholder="Puomitunnit tähän"/><br/>
            </form>
                <br/>
            
            <form action="horsecalendar.html">
                <input class="center" type="submit" value="Lauantai">
            </form>
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Este">
                <input type="text" placeholder="Estetunnit tähän"/><br/>
                <input class="left" type="submit" value="Koulu">
                <input type="text" placeholder="Koulutunnit tähän"/><br/>
                <input class="left" type="submit" value="Maasto">
                <input type="text" placeholder="Maastotunnit tähän"/><br/>
                <input class="left" type="submit" value="Puomi">
                <input type="text" placeholder="Puomitunnit tähän"/><br/>
            </form>
                <br/>
            
            <form action="horsecalendar.html">
                <input class="center" type="submit" value="Sunnuntai">
            </form>
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Este">
                <input type="text" placeholder="Estetunnit tähän"/><br/>
                <input class="left" type="submit" value="Koulu">
                <input type="text" placeholder="Koulutunnit tähän"/><br/>
                <input class="left" type="submit" value="Maasto">
                <input type="text" placeholder="Maastotunnit tähän"/><br/>
                <input class="left" type="submit" value="Puomi">
                <input type="text" placeholder="Puomitunnit tähän"/><br/>
            </form>
                <br/>
            
            <form action="horsecalendar.html">
                <input class="left" type="submit" value="Hevonen">
                <input type="text" placeholder="Hevosten nimivalikko"/><br/><br/>
                 <input type="text" placeholder="Graafinen esitys tähän"/><br/>
            </form>
                <br/><br/>
   
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>