<!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Pehtoori</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <br/>
        <div class="entry">
            <h1><u><a href="../index.html">Pehtoori</a></u></h1>
        </div>
        <br/>
        
        <div class="omaentry">
            <h2 id="menu"><u>Työntekijän Tuntikalenteri</u></h2>
        </div>
        <br/>
        
        <!-- Notes, functionality to be added, bugs, optimisation ideas, etc.:
            - Esitysmuoto?
            - Admin oikeudet? Kaikki näkee kaikkien tiedot vai käyttäjäkohtainen?
            - Tuntijako, aktiviteettien nimet valittavissa/vaihdettavissa? Admin.
            - Tarkkuus (15min, 30min vai tunti)?
            - Graafinen esitys, tarvitaanko? Valittavissa, admin?
            - 
            - 
        -->
    
        <div class="omaentry"> 
            <br/>
            <div style="text-align:center">
                <form action="hourcalendar.html">
                    <input class="left" type="submit" value="Työntekijä">
                    <input type="text" placeholder="Työntekijöiden nimivalikko"/><br/>
                </form>

                <form action="hourcalendar.html">
                    <input class="left" type="submit" value="Viikko">
                    <input type="text" placeholder="Viikkonumero"/><br/>
                </form>

                <form action="hourcalendar.html">
                    <input class="center" type="submit" value="Aikaväli"><br/>
                    <input type="text" placeholder="Aloituspäivä"/> - 
                    <input type="text" placeholder="Lopetuspäivä"/><br/><br/>
                </form>
                <br/>

                <form action="hourcalendar.html">
                    <input class="center" type="submit" value="Työtunnit yhteensä">
                </form>
                <form action="hourcalendar.html">
                    <input class="left" type="submit" value="Asiakas">
                    <input type="text" placeholder="Asiakastunnit tähän"/><br/>
                    <input class="left" type="submit" value="Toimisto">
                    <input type="text" placeholder="Toimistotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Hevosten hoito">
                    <input type="text" placeholder="Hoitotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Muut Työt">
                    <input type="text" placeholder="Muut työtunnit tähän"/><br/>
                </form>
                    <br/>

                <form action="hourcalendar.html">
                    <input class="center" type="submit" value="Maanantai">
                </form>
                <form action="hourcalendar.html">
                    <input class="left" type="submit" value="Asiakas">
                    <input type="text" placeholder="Asiakastunnit tähän"/><br/>
                    <input class="left" type="submit" value="Toimisto">
                    <input type="text" placeholder="Toimistotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Hevosten hoito">
                    <input type="text" placeholder="Hoitotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Muut Työt">
                    <input type="text" placeholder="Muut työtunnit tähän"/><br/>
                </form>
                    <br/>

                <form action="hourcalendar.html">
                    <input class="center" type="submit" value="Tiistai">
                </form>
                <form action="hourcalendar.html">
                    <input class="left" type="submit" value="Asiakas">
                    <input type="text" placeholder="Asiakastunnit tähän"/><br/>
                    <input class="left" type="submit" value="Toimisto">
                    <input type="text" placeholder="Toimistotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Hevosten hoito">
                    <input type="text" placeholder="Hoitotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Muut Työt">
                    <input type="text" placeholder="Muut työtunnit tähän"/><br/>
                </form>
                    <br/>

                <form action="hourcalendar.html">
                    <input class="center" type="submit" value="Keskiviikko">
                </form>
                <form action="hourcalendar.html">
                    <input class="left" type="submit" value="Asiakas">
                    <input type="text" placeholder="Asiakastunnit tähän"/><br/>
                    <input class="left" type="submit" value="Toimisto">
                    <input type="text" placeholder="Toimistotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Hevosten hoito">
                    <input type="text" placeholder="Hoitotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Muut Työt">
                    <input type="text" placeholder="Muut työtunnit tähän"/><br/>
                </form>
                    <br/>

                <form action="hourcalendar.html">
                    <input class="center" type="submit" value="Torstai">
                </form>
                <form action="hourcalendar.html">
                    <input class="left" type="submit" value="Asiakas">
                    <input type="text" placeholder="Asiakastunnit tähän"/><br/>
                    <input class="left" type="submit" value="Toimisto">
                    <input type="text" placeholder="Toimistotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Hevosten hoito">
                    <input type="text" placeholder="Hoitotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Muut Työt">
                    <input type="text" placeholder="Muut työtunnit tähän"/><br/>
                </form>
                    <br/>

                <form action="hourcalendar.html">
                    <input class="center" type="submit" value="Perjantai">
                </form>
                <form action="hourcalendar.html">
                    <input class="left" type="submit" value="Asiakas">
                    <input type="text" placeholder="Asiakastunnit tähän"/><br/>
                    <input class="left" type="submit" value="Toimisto">
                    <input type="text" placeholder="Toimistotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Hevosten hoito">
                    <input type="text" placeholder="Hoitotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Muut Työt">
                    <input type="text" placeholder="Muut työtunnit tähän"/><br/>
                </form>
                    <br/>

                <form action="hourcalendar.html">
                    <input class="center" type="submit" value="Lauantai">
                </form>
                <form action="hourcalendar.html">
                    <input class="left" type="submit" value="Asiakas">
                    <input type="text" placeholder="Asiakastunnit tähän"/><br/>
                    <input class="left" type="submit" value="Toimisto">
                    <input type="text" placeholder="Toimistotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Hevosten hoito">
                    <input type="text" placeholder="Hoitotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Muut Työt">
                    <input type="text" placeholder="Muut työtunnit tähän"/><br/>
                </form>
                    <br/>

                <form action="hourcalendar.html">
                    <input class="center" type="submit" value="Sunnuntai">
                </form>
                <form action="hourcalendar.html">
                    <input class="left" type="submit" value="Asiakas">
                    <input type="text" placeholder="Asiakastunnit tähän"/><br/>
                    <input class="left" type="submit" value="Toimisto">
                    <input type="text" placeholder="Toimistotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Hevosten hoito">
                    <input type="text" placeholder="Hoitotunnit tähän"/><br/>
                    <input class="left" type="submit" value="Muut Työt">
                    <input type="text" placeholder="Muut työtunnit tähän"/><br/>
                </form>
                    <br/>

                <form action="horsecalendar.html">
                     <input type="text" placeholder="Graafinen esitys tähän"/><br/>
                </form>
                    <br/><br/>

            </div> 
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>