<!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Ratsu</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <div class="entry">
            <h1><u><u>Ratsu Tulospalvelu</u></u></h1>
        </div>
        
            <h2 id="menu">Päävalikot</h2>
        
        <div style="text-align:center">
            <form action="viewresults.html">
                <input class="center" type="submit" value="Selaa tuloksia">
            </form>
            <br/>
            <form action="addrace.html">
                <input class="center" type="submit" value="Lisää lähtö/ratsukko">
            </form>
            <br/>
            <form action="addresults.html">
                <input class="center" type="submit" value="Lisää tuloksia">
            </form>
        </div> 
        
        <div id="footer">
            Copyright: Jarmo Leskinen 2015
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>
