<!doctype html>
<html lang="fi"> 
    <head>
        <meta charset="utf-8">
        <title>Pehtoori</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"> 
    </head>
    
    <body>
        <br/>
        <div class="entry">
            <h1><u><a href="../index.html">Pehtoori</a></u></h1>
        </div>
        <br/>
        
        <div class="subentry">
            <h2 id="menu"><u>Tallin Viikkokalenteri</u></h2>
        </div>
        <br/>
    
        <!-- Notes, functionality to be added, bugs, optimisation ideas, etc.:
            - Tarvitaanko tätä?
            - Mikä esitysmuoto?
            - Hevoskohtainen tieto näkyviin?
            - Käytetään viikkotuntien suunnittelussa vai seurannassa?
            - Yhteenveto, millainen?
            - Tarvitaanko alasivuja, päiväkohtaiset?
            - 
        -->
        
        <div class="subentry">
            <br/>
            
            <div style="text-align:center">
                <form action="stablecalendar.html">
                    <input class="center" type="submit" value="Maanantai">
                </form>
                <input type="text" placeholder="Maanantain tunnit tähän"/>
                <br/><br/>

                <form action="stablecalendar.html">
                    <input class="center" type="submit" value="Tiistai">
                </form>
                <input type="text" placeholder="Tiistain tunnit tähän"/>
                <br/><br/>

                <form action="stablecalendar.html">
                    <input class="center" type="submit" value="Keskiviikko">
                </form>
                <input type="text" placeholder="Keskiviikon tunnit tähän"/>
                <br/><br/>

                <form action="stablecalendar.html">
                    <input class="center" type="submit" value="Torstai">
                </form>
                <input type="text" placeholder="Torstain tunnit tähän"/>
                <br/><br/>

                <form action="stablecalendar.html">
                    <input class="center" type="submit" value="Perjantai">
                </form>
                <input type="text" placeholder="Perjantain tunnit tähän"/>
                <br/><br/>

                <form action="stablecalendar.html">
                    <input class="center" type="submit" value="Lauantai">
                </form>
                <input type="text" placeholder="Lauantain tunnit tähän"/>
                <br/><br/>

                <form action="stablecalendar.html">
                    <input class="center" type="submit" value="Sunnuntai">
                </form>
                <input type="text" placeholder="Sunnuntain tunnit tähän"/>
                <br/><br/>

            </div> 
        </div> 
        
        <script src="../controllers/scripts.js"></script>    
        
    </body>     
</html>