/*use element selector to change body elements styles*/
body {
    background: repeating-linear-gradient(
      90deg,
      #53423d,
      #222 10px,
      #502115 10px,
      #333 20px
    );
} 

/*use element selector to select all p elements for this style*/
p{
    color: white; /*Text color*/
    font-size: 32px;
}

a{
    color: crimson; /*Text color*/
}

/*use element selector to change h1 elements styles from default values*/
h1{
    color: white; /*Text color*/
    font-size: 42px;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2{
    font-size: 32px; 
    background: repeating-linear-gradient(
      90deg,
      #4c4c5f,
      #222 2px,
      #38302f 10px,
      #333 20px
    );
}

/*use class selector to define style for elements. Note: always start with a dot (.) !!*/
.entry{
    text-align: center;
    color: white; /*border color*/
    margin-top: 1%;
    margin-bottom: 1%;
    border: 4px;
    border-style: solid;
    border-radius: 8px;
    background: repeating-linear-gradient(
      90deg,
      #4c4c5f,
      #222 2px,
      #38302f 10px,
      #333 20px
    );
}

.subentry{
    text-align: center;
    color: white; /*border color*/
    margin-left: 10%;
    margin-right: 10%;
    border: 4px;
    border-style: solid;
    border-radius: 8px;
    background: repeating-linear-gradient(
      90deg,
      #4c4c5f,
      #222 2px,
      #38302f 10px,
      #333 20px
    );
}

.left{
    width: 150px;
    height: 30px;
    margin-left: 2%;
}

.center{
    width: 350px;
    height: 30px;
}

/*use id selector to define style*/
#menu{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color:crimson;
}


#footer {
    position:absolute;
    bottom:0;
    width:30%;
    color: blue; /*Text color*/
    font-size: 18px;
    text-align: left;
}